RHT_OCP4_MASTER_API=https://api.ocp-jppjvorndzppqro200626.do280.rht-na.nextcle.com:6443
RHT_OCP4_CLUSTER_ID=a7952a8d-eb6f-487b-bf17-93dfa622d0a1
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-jppjvorndzppqro200626.do280.rht-na.nextcle.com
RHT_OCP4_KUBEADM_PASSWD=DG9qJ-mG9dr-xvIPa-JG5JP
RHT_OCP4_USER_PASSWD=00e2461256413df9df3a8b0c41c46539
